button {
    background-color: #3d6ba2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    border: solid white 2px;
}


body {
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, sans-serif;
    background-color: #7aedf5;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #0d4e64;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {background-color: #0a7076;
       color: rgb(72, 80, 121);
       display: inline-block;
       width: 250px;
       border-radius: 20px;
       margin: 10px;
       padding: 20px;
       text-align: center;}

.card:hover{
    border: solid white 2px
}

.card img {
    width: 250px;
    border-radius: 20px;}

.card img:hover {
    border: solid white 2px;
}

#Courses{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;}

