/* Image styling */
img {
    display: block;
    width:400px;
    height: 450px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    display: block;
    text-align: center;
    background-color:rgb(7, 171, 171);
}